@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: white;
    font-weight: 600;
}


body {
    background: url('assets/bg.jpg');
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

body::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100dvh;
    background: rgb(0, 0, 0, 0.15);
    backdrop-filter: blur(15px);
}


.header {
    width: 100%;
    height: 90px;
    background: rgba(78, 117, 158, 0.212); /* light transparent blue */
    backdrop-filter: blur(10px); /* blur effect */
    -webkit-backdrop-filter: blur(10px); /* Safari support */
    padding: 10px;
    text-align: center;
    color: white;
    border-bottom: 1px solid rgba(233, 230, 230, 0.205);
    border-top: 1px solid rgba(233, 230, 230, 0.205);
}

@media (max-width: 455px) {
    .header {
        height: 120px;
    }
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    font-style: italic;
    margin: 0;
    letter-spacing: 1px;
}

.tagline {
    font-size: 1rem;
    margin-top: 10px;
    color: #e0f7ff;
}

.main-container {
    width: 385px;
    height: 565px;
    z-index: 1;
    background: linear-gradient(to top, rgb(0, 0, 0, 0.15), rgb(255, 255, 255, 0.15));
    border-radius: 12px;
    backdrop-filter: blur(100px);
    padding: 20px;    
}

/* INPUT CONTAINER */
.input-container {
    position: relative;
    margin: 15px;
}

.city-input {
    width: 100%;
    padding: 10px;
    border-radius: 99px;
    border: 3px solid transparent;
    background: rgb(0, 0, 0, 0.15);
    outline: none;
    font-weight: 500;
    transition: 0.25s border;
    padding-right: 45px;
}

.city-input:focus {
    border: 3px solid rgb(0, 0, 0, 0.15);
}

.city-input::placeholder {
    color: rgb(255, 255, 255, 0.75);
}

.search-btn {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    display: flex;
    border: none;
    cursor: pointer;
}

/* Section Weather Info */
.location-data-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 19px;
}

.location {
    display: flex;
    align-items: center;
    gap: 6px;
}

.regular-txt {
    font-size: 15px;
    font-weight: 500;
}

.weather-summary-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

.weather-summary-img {
    height: 150px;
    width: 150px;
}

.weather-conditions-container {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    margin-bottom: 20px;
}

.condition-item {
    display: flex;
    align-items: center;
    gap: 6px;
}

.condition-item img {
    height: 50px;
    width: 50px;
}

 /* forecast Container   */
.forecast-items-container {
    display: flex;
    gap: 15px;
    overflow: scroll;
    padding-bottom: 12px;
    padding-right: 12px;
}

.forecast-items-container::-webkit-scrollbar {
    height: 8px;
    width: 8px;
}

.forecast-items-container::-webkit-scrollbar-track {
    background: rgb(255, 255, 255, 0.1);
    border-radius: 99px;
}

.forecast-items-container::-webkit-scrollbar-thumb {
    background: rgb(0, 0, 0, 0.15);
    border-radius: 99px;
}

.forecast-items-container::-webkit-scrollbar-corner {
    background: transparent;
}


.forecast-item {
    min-width: 80px;
    height: 120px;
    background: rgb(255, 255, 255, 0.1);
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 10px;
    margin-top: 20px;
    align-items: center;
    border: 12px;
    transform: 0.3s background;
}

.forecast-item:hover {
    background: rgb(255, 255, 255, 0.15);

}

.forecast-item-img {
    width: 35px;
    height: 35px;
}

.section-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 15px;
    margin-top: 25%;
}

.section-message img {
    height: 180px;
    width: fit-content;
}

.footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 15px 10px;
    font-size: 0.9rem;
    font-weight: 300;
    margin: 10px;
    color: #e0f7ff;
    z-index: 1;
    border-bottom: 1px solid rgba(233, 230, 230, 0.205);
    border-top: 1px solid rgba(233, 230, 230, 0.205);

}

.footer .heart {
    color: red;
}